/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.fp-row{
  margin: 15px auto;
}

.search-form{
  float: right;
  margin: 15px;

}

.navbar-inverse{
  /*background-image: url(http://i01.i.aliimg.com/wsphoto/v0/1971495331_1/Free-shipping-Blue-Illustration-Graffiti-Mural-Mural-wallpaper-for-walls-background.jpg);*/
}
.navbar{
  margin: 0;
}
li{
  color:black;
}


footer{
  position:;
	text-align: center;
	background-color: #F6F6F6;
  bottom: 0%;
}
footer ul{
	list-style: none;
}
footer ul li{
	display: inline;
}

.center-text{
  text-align: center;
}
